* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url('/bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-size: 1rem;
}

.container{
  width: 90vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  

}