$dark-bg: #1A1A1E;
$dark-panel-bg: #1F1F22;
$dark-border: #2D2D2D;
$dark-text: #FFFFFF;

$primary-color: #F75897;


$small-icon-size: 20px;
$regular-icon-size: 25px;
$large-icon-size: 30px;
$extra-large-icon-size: 35px;
